body {
    margin: 0;
    padding: 0;
    background-color: #181a1e;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;   
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #202226;
    color: #fff;
    position: relative;
    padding-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
}

.sidebar h1 {
    text-align: center;
    margin-bottom: 10px;
}

.sidebar button {
    background-color: #403cf9;
    border-radius: 5px;
    margin: 15px;
    font-size: 20px;
    color: #fff;
}

.sidebar h3 {
    text-align: left;
    margin-left: 10px;
}

/* Search Bar styling*/
.search-container {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 25px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #292b2f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.search-container .search-input {
    width: 100%;
    background: #292b2f;
    color:rgba(255, 255, 255, 0.54);
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
}

.search-container .search-btn {
    margin: 5px;
    background-color: #292b2f;
    border: none;
    height: 100%;
    cursor: pointer;
}

.search-container .search-btn .search-btn-img {
    height: 25px;
    ;
}

