body {
    margin: 0;
    padding: 0;
    background-color: #181a1e;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 15px;   
}

/* Sidebar styling */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #202226;
    color: #fff;
    position: fixed;
    padding-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.sidebar h1 {
    text-align: center;
    margin-bottom: 10px;
}

.sidebar .button-add-account {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 10px 15px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    position: relative;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
}

.button-add-account:active,
.button-add-account:hover {
    outline: 0;
}

.sidebar .button-add-account span {
    background-color: rgb(5, 6, 45);
    padding: 10px 10px;
    border-radius: 5px;
    height: 100%;
    transition: 300ms;
    width: 100%;
}

.button-add-account:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-add-account {
        font-size: 24px;
        min-width: 196px;
    }
}

.sidebar .home {
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar h3 {
    text-align: left;
    margin-left: 10px;
}

.sidebar .user {
    position: relative;
}

/* Search Bar styling*/
.search-container {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 25px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #292b2f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.search-container .search-input {
    width: 100%;
    background: #292b2f;
    color:rgba(255, 255, 255, 0.54);
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
}

.search-container .search-btn {
    margin: 5px;
    background-color: #292b2f;
    border: none;
    height: 100%;
    cursor: pointer;
}

.search-container .search-btn .search-btn-img {
    height: 25px;
    ;
}

/* Table styling */

.container {
    width: 1545px;
    max-width: 100%;
    margin: 100px 300px;
    overflow: visible;
    border: 1px solid #292b2f;
    border-radius: 5px;
    
}

.table-container {
    overflow-y: auto;
    max-height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #292b2f;
}

th {
    background-color: #292b2f;
    position: sticky;
    top: 0;
}

tr:nth-child(even) {
    background-color: #292b2f;
}